:root{
  --h1Color: white;
}

.black{
  color: black;
  font-weight: bold;
  font-size: 15px;
  font-style: oblique;
}

.reds{
  color:red;
}

.blues{
  color: white;
  text-shadow: 3px 3px 5px #000000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}

.image1{
    border-radius: 80px;
    padding: 5px;
    border: 10px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.one{
  text-align: center;
  width: auto;
  margin: auto;
  border: 3px solid #dde;
  background-color: lightblue;
}

h1{
  font-family: Lobster;
  text-shadow: 3px 3px 5px black;
  color: var(--h1Color);

}

h2{
  color: black;
  text-shadow: 3px 3px 3px grey;
}
body{
  background-color: #1bb;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: lightblue;
  border:  3px solid #dde;
  padding: 10px;
}
.grid-item {
  background-color: lightblue;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

@media only screen and (orientation: landscape) {
  body {
    background-color: darkgrey;
  }

  div.one{
    background-color: lightgrey;
  }

  .image1{
    border: 10px solid #dda;
  }

  h1{
    color: black;
    text-shadow: 3px 3px 5px #ffffff;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightgrey;
    border:  3px solid #dde;
    padding: 10px;
  }
  .grid-item {
    background-color: lightgrey;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

}
